[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nornir = "*"
napalm = "*"
netmiko = "*"
jinja2 = "*"
nornir-utils = "*"
nornir-napalm = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
